h1{
    font-family: 'Righteous', cursive;
    font-size: 80px;
    color: white;
}

h3{
    font-family: 'Righteous', cursive;
    font-family: 'Kaushan Script', cursive;
    color: white;
    font-size: 35px;
}

body{
    background-image: url('/static/busy-computer.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}