{% macro displayPitches(pitches) %}
{% for pitch in pitches %}
<div class="col-md-12 pitch_list">
    {% if pitch.user.profile_pic_path %}
    <p>
            <img src="{{url_for('static',filename = pitch.user.profile_pic_path)}}" alt="" class="img-thumbnail">
            <h5>Username:<strong>{{pitch.user.username|capitalize}}</strong></h5>
    </p>
    {% else %}
    <p>
            <img src="{{url_for('static',filename = 'photos/Avatar.png')}}" alt="" class="img-thumbnail">
            <h5>Username: <strong>{{pitch.user.username|capitalize}}</strong></h5>
    </p>    
    {% endif %}
    <h5>{{pitch.pitch_content}}</h5>
    <h5><strong>Category: </strong>{{pitch.pitch_category}}</h5>
</div>
{% endfor %}
{% endmacro %}